<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>JSPDemo6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>addCostServlet</servlet-name>
  	<servlet-class>web.addCostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addCostServlet</servlet-name>
  	<url-pattern>/addCost</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>delCostServlet</servlet-name>
  	<servlet-class>web.delCostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>delCostServlet</servlet-name>
  	<url-pattern>/delCost</url-pattern>
  </servlet-mapping>
  
  <!-- 配置filter -->
   <filter>
  	<filter-name>logFilter</filter-name>
  	<filter-class>web.logFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>logFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!--配置监听器  -->
  <listener>
  	<listener-class>web.myListener</listener-class>
  </listener>
</web-app>